BROWSE
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
autom4te.cache
config.log
config.status
cscope.files
cscope.out
libtool
caelum
vamos/cvamos
vamos/config.py
magic-eq
out
*.pyc
*.so
.emacs*
*-results
doc/robot-cars/computer-controlled-cars.pdf
doc/robot-cars/computer-controlled-cars.aux
doc/robot-cars/computer-controlled-cars.log
